name: Xcode - Build and Analyze (10.6+ target)

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: Build and analyse default scheme using xcodebuild command
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Xcodebuild 
        working-directory: ./DirectHW
        run: xcodebuild -alltargets -project DirectHW.xcodeproj
        
      - name: libs
        working-directory: ./DirectHW
        run: make libs

      - name: Upload to Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Artifacts
          path: DirectHW/build/Release
